{% extends "base.html" %}
{% block title %} Log in {% endblock %}

{% block page %}
    <div class=log-box>
        <form action="{{ url_for('modify_password') }}" method="POST">
            <fieldset>
                <legend></legend>
                    <div class=input>
                        Name: <input type="text" size="30" name="username"><br>
						Password <input type="password" size="23" name="password"><br>
                        New Password <input name="new_password" type="password" >
						<input type="submit" name="Commit">
                    </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

